body{
	margin: 0;
	padding: 0;

	background-image: url(../images/common/bg.gif); /*グレーの背景*/
	background-repeat: repeat-x;
	background-position: 0px 90px; /* ヘッダー画像の下に白線がある*/

	font-size: 12.5px; 
	/* small指定はブラウザにより異なる */
	color: #888888;
}

h2{
	font-size: large;
	color: #DD0000;
	margin: 0px;
}

img{
	border-style: none;
}

a {
	text-decoration: none;
}

a:link{
	color: #CC9966;
}

a:visited{
	color: #996633;
}

a:hover{
	color: #EE0000;
	text-decoration: underline;
}

.header{
	height: 90px; 
	background-image: url(../images/ja/topbar.gif);/* 背景画像「名大の授業」 */
	background-repeat: no-repeat;
}

.header a#home_header{
	display: block;
	height: 90px;
	width: 250px;
	position: absolute;	
	top: 0px;
	left: 0px;
}

	.header_sub{
	 max-width/**/: 770px;
	 /width: 770px; /* IE6対策 */
		height: 60px;
		margin-left: 200px;
	padding: 0px;
	}

	html>/**/body .header_button{
	margin-top: 10px;
	width:450px;
	height: 50px;
	float: right;
	}	
	
		.header_button{
			margin-top: 10px;
			width: 500px;
			height: 50px;
			margin-left: 320px;
	
		}

	.header_button img{
	border: none;	
	}	

			.header_button_sub{
				width: 190px;
				height: 50px;
				position: relative;
				top: -50px;
				left: 243px;
			}

				.header_button_english{
					width: 50px;
					height: 20px;
					position: relative;
					top: 3px;
					margin: 0px 15px 0px 135px;
	boder: dotted;
				}

	.header_button_english img{
	border: none;
	}

				html>/**/body .header_button_akf{
					width: 50px;
					height: 20px;
					position: relative;
					top: 7px;
					left: 0px;
					margin: 0;
				}
	.header_button_akf{
	width: 50px;
	height: 20px;
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
	border: none;
	}

				html>/**/body .header_button_input{
					width: 130px; 
					position: relative;
					left: 50px;
					top : -12px;
				}

	.header_button_input{
	width: 130px;
	position: relative;
	left: 50px;
	top: -38px;
	}

				.header_button_input input{
					font-size: 9px;
					width: 120px;
				}

				html>/**/body .header_button_search{
					width: 20px;
					height: 20px;
					position: relative;
					left: 175px;
					top: -31px;
				}

	.header_button_search{
	width: 20px;
	height: 20px;
	position: relative;
	left: 170px;
	top: -58px;
	border: none;
	}	

.header_edge{
	height: 90px;
	background-image: url(../images/ja/topbar_edge.gif);
	background-repeat: repeat-x;
	background-position: 1300px 0px;
	margin:0;
}

.main_back {
	background-image: url(../images/common/loop.jpg);
	background-repeat: repeat-y;
	background-position: 945px 90px;
	max-width: 1240px; 
	margin: 0px;
	padding: 0px;
}

	.main_back_url{
		background-image: url(../images/common/url.gif);
		background-repeat: no-repeat;
		width: 20px;
		height: 170px; 
		position: fixed;
		top: 90px;
		left: 1260px;
	}

*html .main_back_url{
			 background-image: url(../images/common/url.gif);
 	  	 background-repeat: no-repeat;
	position: expression('absolute');
	top: expression(documentElement.scrollTop + 90 + 'px');
	left: expression(documentElement.scrollLeft + 1260 + 'px');
}

	.main_back_adachi{
		background-image: url(../images/common/staff.gif);
		background-repeat: no-repeat;
		position: absolute;
		top: 10px; 
		left: 1030px;
		width: 95px; 
		height: 125px;
	}

.main{
	max-width: 945px;
	overflow: hidden;
	margin-left: 30px;
	min-height: 1150px;
	background-color: white;
	padding: 0;
}

*html .main{
	margin: -90px 0px 0px 30px;
	width: 930px;
	background-color: white;
	padding: 0px;
}


#aboutpodcast{
float: left;
width: 180;
padding: 0px;
margin-top: 10px;
margin-left: auto;
margin-right: auto;
position: relative;
}

#departmentslist{
	float: left;
	width: 160px;
	padding:0px;
	margin: 0px 5px 0px 40px;
	position: relative;
	top: -25px;
	height: 580px;
	border: dotted;
}

*html #departmentslist{
	float: left;
	width: 160px;
	margin: 0px 2px 0px 20px;
	padding: 0px;

}

	#departmentslist li{
		margin-bottom: -6px; /*画像の隙間をなくしている */
	}

#being{
	color: red;
}

#header_for_top{
	height: 400px;
	position: relative;/* #menuを絶対配置するため */
}

	#menu{
		position: absolute;
		bottom: 25px;
		left: 195px;
	}

		.menu0{
			float: left;
			height: 90px;
			width: 180px;
		}

			#date{
				position: relative;
				top: -70px;
				left: 76px;
				color: red;
				font-size: 11px;
			}
#contents{
	position:relative;
	top: -25px;
	margin-left: 200px;
	/*margin-right: 40px;*/
	background-color: white;
	padding-left: 5px;
	_width: 705px;
	max-width: 705px;
}

	.pankuzu{
		min-height: 28px; 
		list-style-type: none;
		padding: 5px 0px 0px 0px; /* paddingの初期化をすることで問題解決（メモ）*/
		margin: 0px;
	}

	 .pankuzu li{
			display: inline;
			color: #996633;
			margin-right: 6px;
		}

/* 以下トップページ関連 */
.inline{
	display: inline-block;
}/* IE対策 */
.inline{
	display/**/: block;
	width: 100%;
}

.subheading{
}

#feature{
	width: 540px;
	float: left;
	background-color: white;
	overflow: hidden;
}

#greeting{
	float: left;
	width: 160px;
	overflow: hidden;
	/*height: 255px;*/
	margin-top: 20px;
	padding-bottom: 1em;
	font-size: 11px;
	font-height: 12px;
	zoom: 1;
	border-style: solid;
	border-width: 1px;
	border-color : #DDDDDD;
}
	#greeting p{
		/*position: absolute;
		top: 197px;
		left: 0px;*/
		margin: 0px 1ex;
	}

.dots{
	width: 100%;
}

#notice{
	float: left;
	border-style: solid;
	border-width: 6px;
	border-color: #FFF3E3;
	width: 330px;
	/*height: 400px;*/
	margin: 6px 6px 0 0;
}
		html>/**/body #notice{
			clear: right;
		}

#press{
	/*clear: right;*/
	float: left;
	border-style: solid;
	border-width: 6px;
	border-color: #FFF3E3;
	width: 330px;
	/*height: 300px;*/
	margin: 6px 6px 0 0;
}
		html>/**/body #press{
			clear: right;
		}

#access{
	/*clear: right;*/
	float: left;
	border-style: solid;
	border-width: 6px;
	border-color: #FFF3E3;
	width: 330px;
	margin: 6px 6px 0 0;
}
		html>/**/body #access{
			clear: right;
		}

	#access div{
			height: 300px;
	}

		#rank_table{
			position: absolute;
			width: 95%;
		}

			#rank_table tr{
				width 100%;
			}

		.rank{
			width: 2.8em;
			text-align: center;
		}

		.name{
			width: 40%;
		}

		#no1 td{
			padding: 1em 0em;
			background-color: #FFF3E3;
		}	

		#no2 td{
			padding: 1em 0em;
			background-color: white;
		}

		#no3 td{
			padding: 1em 0em;
			background-color: #FFF3E3;
		}
	
	.waku{
		border-style: solid;
		border-width: 1px;
		border-color: #DDDDDD;
		overflow: hidden;
		position: relative;
		padding: 6px;
		zoom: 1;
	}
			
table{
	border-style: none;
	margin: 0;
	padding: 0;
	zoom: 1;
}

	td{
		border-style: none;
		margin: 0;
		padding: 0;
	}

#conditionbox{
	background-image:url(../images/common/courselist_list.png);
	bacground-repeat: no-repeat;
	width: 720px;
	height: 125px;
	margin: 0px;
	padding: 0px;
}

.date2{
	width: 7em;
	vertical-align: top;
}

.article a{
	background: none;
	padding-left: 11px;
	display: block;
	background: none;
}
	
	.article a:hover{
		background-image:url(../images/common/arrow_on.png);
		background-repeat: no-repeat;
		background-position: 0px 2px;
	}

.article span{
	padding-left: 11px;
	display: block;
	}


/* 以下コースホーム関連 */

#caption{
	padding: 25px 305px 0px 0px; /* 25pxより大きい気がするのは気のせい？ */
	margin: 0px;
}
	
	#publisher{
		Color: #CC9966;
	}

	#teacher{
		font-size: xx-large;
		font-family: serif;/* 明朝体 */
	}

	#occupation{
		font-size: medium;
		font-family: serif;/* 明朝体 */
	}

	#data{
		padding: 1em;
		border: solid 1px gray;
		background-color: #E0E0E0;
	}

	#movie{
		padding-left: 5px;
		padding-top: 25px;
		margin-bottom: 2em;
		float: right;
		width: 300px;
	}

#main_text{
	clear: right;/* 問題点：位置が左の部局リストの下まで下がってしまっている */
}

.e_text {
  padding-left: 150px;
}

.e_text p, .e_text ul, .e_text ol, .e_text dl, .e_text table {
	margin-bottom: 1em;
}

.e_text * ul, .e_text * ol {
	margin-left: 0;
	margin-bottom: 0;
}

.e_text h3 {
	font-size: 13px;
	font-weight: normal;
	color: rgb(221, 0, 0);
	background-image: url(../images/common/header3_box.gif);
	background-repeat: no-repeat;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	margin-left: -145px;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 110px;
  float: left;
}

.jump{
	margin-left: auto;
}
		head~/* */body .jump{
			float: right;
		}

.icon{
	display: inline;
	vertical-align: text-bottom;
}


/* 以下フッター関連 */

.footer{	
	position: relative; 
	left: -210px;
	clear: both;
	font-size: 11px;	
	text-align: center;
	padding-top: 1em;
	margin-left: 0px;
	margin-right: auto;
	width: 150%;
	overflow: hidden;
	background-color: #e7e7df;
}

.line{
	margin: 0 auto 1ex auto;
	text-align: center;
	width: 100%;
}

.navi{
	padding-left: 0;
	padding-right: 2em;
	text-align: left;
	float: left;
	list-style-type: none;
}
 
	.navi li {
		margin-bottom: 1ex;
	}

#link {
	margin: 1em 0 auto auto;
	padding: 0;
	clear: both;
	list-style-type: none;
	text-align: center;
}

	#link li{
		margin: 1ex;
		display: inline;
		color: #DD0100;
	}

	#link a{
		color: #DD0100;
	}

#size_images{
	margin: -5px; 
}

#size_img{
	margin: -5px; 
}

#proviso {
	margin: 1em 0 auto auto;
	text-align: center;
}

.nu{
	float: left;
	color: #996633;
	margin: 0px;
}

ul#departmentslist a{
	font-weight: 500;
}

ul#departmentslist a:visited{
	font-weight: 400;
}

table.basic{
	border:0;
	border-collapse: collapse;
	white-space:normal;
}

table.basic th{
	border: 1px solid #999999;
}

table.basic td{
	border: 1px solid #999999;
}

table.basic ul {
	padding-left: 1em;
}

	

/* ------------------FAQ-------------------- */
div.faq_normal{
	padding:5px;
	margin-bottom: 2em;
}


div.faq_color{
	background-color:#eeeeee;
	padding:5px;
	margin-bottom: 2em;
}


/* -----------------Course Contents ---------------*/
span.i{
	font-style:italic;
}

span.u{
	text-decoration: underline;
}

span.b{
	font-weight: bold; 
}

/*------------- 1分間授業紹介&PodCast -----------*/

#podcast{
        clear: right;
        float: left;
        border-style: solid;
        border-width: 6px;
        border-color: #FFF3E3;
        width: 180px;
        margin: 6px 4px 0 4px;
}

#contents_p{
        position:relative;
        top: -25px;
        margin-left: 200px;
        margin-right: 0px;
        background-color: white;
        padding-left: 1ex;
}

div.course_contents{
	margin: 0px
}

div.realplayer{
	margin: 40px 0;
}

div.podcast{
	margin: 25px 5px;
	padding: 0;
}

td.td_left_gray{
	backgrouond-image: url(../images/common/flame02.gif);
	backgrouond-repeat: repeat-y;
}

td.td_right_gray{
	backgrouond-image: url(../images/common/flame05.gif);
	backgrouond-repeat: repeat-y;
}

td.td_top_gray{
	backgrouond-image: url(../images/common/gray02.gif);
	backgrouond-repeat: repeat-x;
	backgrouond-position: top
	backgrouond-color:#eeeeee;}

td.td_under_gray{
	backgrouond-image: url(../images/common/gray07.gif);
	backgrouond-repeat: repeat-x;
}

td.td_contents_gray{
	vertical-align: top;
	backgrouond-color:#FFF3E3;
}

/* 箇条書き */
ul.none{
	list-style-type: none;    /*マーカーなし*/
}

ul.circle{
	list-style-type: circle;    /*白丸*/
}

ul.square{
	list-style-type: square;    /*黒四角*/
}


ol.lower-roman{
	list-style-type: lower-roman;    /*小文字のローマ数字*/
}

ol.upper-roman{
	list-style-type: upper-roman;    /*大文字のローマ数字*/
}

ol.lower-alpha{
	list-style-type: lower-alpha;    /*小文字のアルファベット*/
}

ol.upper-alpha{
	list-style-type: upper-alpha;    /*大文字のアルファベット*/
}


/* 表 */
table.center_contents{
 margin:0;
 padding:0;
}

th.left{
	font-size: large;
	color: #DD0000;

}

th.left_gray{
	background-color:#eeeeee;
	font-size: large;
	color: #DD0000;

}

th.center{
	text-align: center;
}

th.center_gray{
	text-align: center;
	background-color:#eeeeee;
}

th.right{
	text-align: right;
}

th.right_gray{
	text-align: right;
	background-color:#eeeeee;
}

td.left{
	text-align: left;
}

td.left_gray{
	text-align: left;
	background-color:#eeeeee;
}

td.center{
	text-align: center;
}

td.center p{
    text-align :center;
}

td.center_gray{
	text-align: center;
	background-color:#eeeeee;
}

td.center_gray p {
    text-align: center;
}

td.contents{
	text-align:left;
	vertical-align: top;
}

td.right{
	text-align: right;
}

td.left{
	text-alghn: left
}

td.right_gray{
	text-align: right;
	background-color:#eeeeee;
}

td.separate{
	border: none;
	text-align: right;
	background-color:#FFF3E3;
	height:5px;
}

.even{
	background-color:#FFF3E3;
}
.odd{
	background-color:#fff;
}

/** 授業一覧から探す　関連  **/
#sort {
	float: right;
}

#menu_list{
	position: relative;
	top: 20px;
	left: 30px;
}

#menu_submit{
	position: relative;
	top: 20px;
	left: 350px;
}

/** ごあいさつ　関連 **/
div.welcome_img{
	width: 250px;
	text-align: middle;
	margin: 0px 20px;
}

p.welcome_chairperson{
	text-align: left;
	padding: 20px 5px 5px;
}

div.welcome_contents {
	text-indent: 1em;
	clear: left;
}

/** サイトマップ関連 **/
div.sitemap_contents{
	position: relative;
	clear: both;
	text-align: center;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

/** お問い合わせ **/
h2.inq {
	font-size: 130%;
	font-weight: bold;
	color: #666666;
	background-image: none;
	padding: 0;
	margin: 10px 0;
}

span.red{
	color:#FF3333;
}

/** 名大の授業について **/
h1.about {
	font-size: x-large;
	color: #DD0000;
}

h2.about {
	font-size: large;
	color: #888888;
}
