@charset "euc-jp";
/*
------------------------------------------------------------
   名大の授業について
------------------------------------------------------------
*/
.about{
	padding: 0;
	margin: 0;
}

.about h1{
	font-size: x-large;
	color: #DD0000;
	margin: 0px;
}

.about h2{
	font-size: large;
	color: #666666;
	margin: 0px;
}

.about p{
	margin: 1em;
}

.about table{
	border-style: none;
	margin: 0;
	padding: 0;
}

.about td{
	border-right: 2px solid white;
	margin: 0;
	padding: 0;
}
.about tr{
	border-style: none;
	margin: 0;
	padding: 0;
}
