@charset "UTF-8";

/*
------------------------------------------------------------
   FAQ
------------------------------------------------------------
*/
div.faq_normal{
	border: thin solid white;
	padding: 5px 20px;
	margin: 0px;
}


div.faq_color{
	background-color:#eeeeee;
	border: thin solid white;
	padding: 5px 20px;
	margin: 0px;
}
