@charset "euc-jp";

/*
------------------------------------------------------------
   おしらせ  
------------------------------------------------------------
*/
td.topics_date{
  	width: 7em;
    padding-left: 0.5em;
    text-align: center;
  	vertical-align: top;
}
