/* TOPICS特別編  */

div#package2{
	top: 0px;
}

#amano_video {
}

h1 {
color:red;
}

.q_title {
margin-top: 30px;
margin-bottom: 30px;
font-size:medium;
}

.qq {
margin-top: 30px;
margin-bottom: 30px;
color:gray;
}

#intro{
margin-top: 30px;
margin-top: 30px;
}

#amano_one1 {
}

#amano_two1 {
}

#led_nu {
}

#amano_one2 {
}

#amano_two2 {
}

