@charset "euc-jp";

/*
------------------------------------------------------------
   サイトマップ 
------------------------------------------------------------
*/
div.sitemap_contents{
	position: relative;
	clear: both;
	text-align: center;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

div.sitemap_contents_en{
        position: relative;
        clear: both;
        text-align: left;
        padding-top: 1em;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
}

.sitemap_navi{
	padding-left: 0px;
	padding-right: 2em;
	text-align: left;
	float: left;
	list-style-type: none;
	position: relative;
	margin: 0px;
}