@charset "euc-jp";

/*
------------------------------------------------------------
   サイトマップ 
------------------------------------------------------------
*/
div.sitemap_contents{
	position: relative;
	clear: both;
	text-align: center;
	padding-top: 1em;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
        white-space: normal;
}

.sitemap_navi{
	padding-left: 0px;
	padding-right: 2em;
	text-align: left;
	float: left;
	list-style-type: none;
	position: relative;
	margin: 0px;
        white-space: normal;
}