

{ 
background-image: url(../images/ja/topics2/img/blueline.png);
background-repeat: repeat-y;
background-position: 25% 0%;
background-attachment: fixed;
z-index: 1;

} 



#bg_top_image{
	width: 700px;
	height: 400px;
	position: relative;
	z-index: 1;
}

#bg{
	list-style-type: none;
	position: relative;
	top: -95px;
	margin-left: -41px;
	z-index: ;
}

#bg li{
	overflow: visible;
}

#bg1{
	position: absolute;
        top: 100px;
        right: 20px;
}


}

#bg2{
	width: 700px;
	height: 100px;
	position: relative;
}



#bg3{
	width: 700px;
	height: 380px;
	position: relative;
}


#bg4{
	width: 700px;
	height: 270px;
	position: relative;
}


#bg5{
	width: 700px;
	height: 320px;
	position: absolute;
}


