#msg_top_image{
	width: 700px;
	height: 400px;
	position: relative;
	z-index: 1;
}

#msgs{
	list-style-type: none;
	position: relative;
	top: -95px;
	border-style: solid;
	border-width: 1px;
	border-color: green;
	z-index: 0;
}

#msgs li{
	overflow: visible;
}

#msg01{
	width: 700px;
	height: 340px;
	position: relative;
}

#msg01 p{
	position: absolute;
	top: 200px;
	left: 110px;
	width: 350px;
	transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-webkit-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
}

#msg01 a{
	position: absolute;
	top: 220px;
	left: 440px;
	width: 233px;
	height: 84px;
}

#msg02{
	width: 700px;
	height: 100px;
	position: relative;
}


#msg02 p{
	position: absolute;
	top: 150px;
	left: 75px;
	width: 210px;
	transform: rotate(-2deg);
	transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
}

#msg02 a{
	position: absolute;
	top: 370px;
	left: 100px;
	width: 177px;
	height: 77px;
}

#msg03{
	width: 700px;
	height: 350px;
	position: relative;
}


#msg03 p{
	position: absolute;
	top: 140px;
	right: 20px;
	width: 325px;
	text-align: right;
	transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-webkit-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
}

#msg03 a{
	position: absolute;
	top: 300px;
	right: 10px;
	width: 208px;
	height: 78px;
}

#msg04{
	width: 700px;
	height: 270px;
	position: relative;
}


#msg04 p{
	position: absolute;
	top: 120px;
	left: 130px;
	width: 400px;
	transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
}

#msg04 a{
	position: absolute;
	top: 220px;
	right: 50px;
	width: 206px;
	height: 81px;
}

#msg05{
	width: 700px;
	height: 300px;
	position: relative;
}


#msg05 p{
	position: absolute;
	top: 150px;
	left: 150px;
	width: 300px;
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
}

#msg05 a{
	position: absolute;
	top: 220px;
	right: 40px;
	width: 186px;
	height: 76px;
}

#msg06{
	width: 641px;
	height: 398px;
	position: relative;
}


#msg06 p{
	position: absolute;
	top: 120px;
	left: 130px;
	width: 300px;
	transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
}

#msg06 a{
	position: absolute;
	top: 250px;
	right: 50px;
	width: 234px;
	height: 78px;
}
