

#contents{
height: ;
background-image: url(../images/ja/topics2/img/blueline.png);
background-repeat: repeat-y;
background-position: 23% 20%;
background-attachment: fixed;
z-index: 0;

} 


div#top{
top: 190;
left: 25;	
overflow: visible;
        position: relative;
}

#top1{
top: 0px;
left: 0px;
z-index: 6;
position: absolute;
}

#top2{
top:400px;
right: 60px;
z-index: 7;
position: absolute;
}

#top3{
top: 525px;
left:195px; 
z-index: 0;
position: absolute;
}

div#bg{
	overflow: visible;
top: 400px;
right:0px;
position: relative;
}

#bg1{
	position: absolute;
        top: 475px;
        right: 20px;
        z-index: 5;
}

#bg2{
	position: absolute;
        top: 610px;
        right: 20px;
        z-index: 4;  
}
#bg3{	
	top: 735px;
        right: 30px;	
        position: absolute;
        z-index: 3;
}
#bg4{
	top: 845px;
        right: 15px;	
        position: absolute;
        z-index: 2;
}
#bg5{
	top: 900px;
        right: 20px;	
        position: absolute;
        z-index: 1;
}


div#kn{
 overflow: visible;
top: 500px;
left: 190px;
position: relative;
}

#kn1{
        top: 50px;
        left: 200px;
        position: absolute;
        z-index: 8;
}

#kn2{
 top: 650px;
        left: 450px;
        position: absolute;
	z-index: 1;
}

#kn3{
    top: 550px;
        left: 500px;
        position: absolute;
	z-index: 3;
}

#kn4{
        top: 700px;
        left: 210px;
        position: absolute;
	z-index: 9;
}

#kn5{
        top: 750px;
        left: 250px;
        position: absolute;
	z-index: 1;
}

#kn6{
        top: 750px;
        left: 550px;
        position: absolute;
	z-index: 2;
}
#kn7{
        top: 820px;
        left: 450px;
        position: absolute;
	z-index: 1;
}
#kn8{
        top: 800px;
        left: 400px;
        position: absolute;
	z-index: 3;
}
#kn9{
        top: 900px;
        left: 210px;
        position: absolute;
	z-index: 1;
}
#kn10{
        top: 500px;
        left: 180px;
        position: absolute;
	z-index: 7;
}

#kn11{
top: 1200px;
left: 200px;
position: absolute;
z-index: 1;
}