@charset "euc-jp";

/* 
 * 留学生の声の見出し(トップでも使用)
 */
#student {
        display: block;
        float: left;
        height: 430px;
        width: 730px;
        margin: -30px 20px 0px -15px;
        padding: 0px 0px 20px 0px;
        overflow: hidden;
}

.student_ja {
        background: url("../images/ja/student/header.png");
        background-position: 0px 30px;
        background-repeat: no-repeat;
}

.student_en {
        background: url("../images/en/student/header.png");
        background-position: 0px 30px;
        background-repeat: no-repeat;
}

/* インタビュービデオの枠 */
#interview_video_frame{
        float: left;
        width: 317px;
        height: 379px;
        margin: 50px 0px 0px 18px;
        padding: 0px 0px 0px 0px;
        background-color: #4C3521;
}

#interview_title{
        height: 100px;
        margin: 23px 0px 0px 5px;
        font-family: sans-serif;
        font-size: 20px;
        color: #E74AAE; /*  と思われるピンク色（要確認） */
}

#interview_title:first-letter{
        float: left;
        width: 40px;
        height: 30px;
        margin: -18px 5px 0px 0px;
        padding: 10px 0px 0px 0px;
        font-size: 40px;
        color: #FFFFFF;
        text-align: center;
        background-color: #E74AAE;
}

#interview_video{
        margin: -35px 0px 0px 8px;
}
/* セカンドページに移動し他のビデオを見るボタン */
#more_video_button{
        float: left;
        width: ;
        height: 379px;
        margin: 40px 0px 0px 0px;
        padding: 315px 0px 0px 93px;
        background: url("../images/common/student/arrow.png");
        background-repeat: no-repeat;
        background-position: 0px 327px;
}

/*
 * ビデオの一覧表示
 */
/* 動画リストの最も外側の枠 */
#list_box{
  width: 730px;
  height: 430px; /* 80px * 5 + 2px * 6 で 5 段分 + セルの隙間 */
  overflow: hidden; /* スクロール不可能にしておく */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

/* 動画リストの各テーマごとの仮想枠 */
.theme_box{
  width: 730px;
  height: 430px; /* 80px * 5 + 2px * 6 で 5 段分 + セルの隙間 */
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}


/* テーマ切り替えタブの外枠 */
#theme_tub{
  width: 730px;
  height: 70px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 160px; /* ビデオ一覧の表の左辺とあわせる */
}

/* タブの中身 */
.tub_button{
  float: left;
  width: 170px; 
  height: 70px;
  border: solid 4px #AABB44; /* 濃い茶色 */
  margin: 15px 0px 5px 0px;
}

.tub_button:hover {
  border: solid 4px #E74AAE;/* 濃いピンク */
}

#tub_button_center {
  margin: 15px 2px 5px 2px; /* 3つのボタンをビデオ一覧表の上に均等表示 */
}

/* リスト左側のテーマ別の柱 */
.list_header{
  float: left;
  width: 160px;
  height: 400px;
}

/* 動画リストの表 */
table.list_table{
  float: left;
  margin: 10px 0px 10px 0px;
  width: 538px; /* 枠の分 -2px */
  border: solid 1px #E74AAE;
  border-collapse: collapse;
  color: #E74AAE; /* と思われるピンク色（要確認）*/
}

/* 表のサムネイル列 */
.thumbnail{
  width: 110px;
}

/* セルの高さと枠線 */
.list_table td{
  border-top: solid 1px #E74AAE;
  border-bottom: solid 1px #E74AAE; /* 中央は枠線なし */
  height: 95px; /* 列からは指定できないのでこちらで指定 */
}

/* 奇数行デザイン */
.odd_row{
  background-color: #F7EEF3;
}

/* 偶数行デザイン */
.even_row{
  background-color: #FFFFFF;
}

