/* TOPICS特別編  */
h1 {
color:red;
}

h4#nathan {
text-decoration: underline;
}

h4#suzuki {
text-decoration: underline;
}

#profile {
margin-top: 30px ;
margin-bottom: 30px ;
}

.q_title {
margin-top: 30px;
margin-bottom: 30px;
}

div#video {
margin-top: 30px;
margin-bottom: 30px;
}

#info2014 {
margin-top: 30px;
margin-bottom: 30px;
}

.qq {
margin-top: 30px;
margin-bottom: 30 px;
}

#intro{
margin-top: 30px
margin-top: 30px
}
