@charset "UTF-8";

/*
------------------------------------------------------------
   特別企画
------------------------------------------------------------
*/
table.special {
  border-collapse: collapse;
}

td.special_movie {
  width: 130px;
}

td.special_description {
  width: 580px;
  vertical-align: bottom;
}

span.special_lead {
  color: rgb(51,112,179); 
}

h3.special {
	background-image: none;
	padding: 0;
  padding-top: 3px;
  padding-bottom: 3px;
	margin: 0;
  font-size: x-large;
}
