@charset "euc-jp";

/*
------------------------------------------------------------
   1分間授業紹介&PodCast
------------------------------------------------------------
*/
#podcast{
	float: left;
	width: 160px;
	padding: 0px;
	margin: 0px 5px 0px 40px;
	position: relative;
	top: -25px;
	background-color: white;
}

#contents_p{
        position:relative;
        top: -25px;
        margin-left: 200px;
        margin-right: 0px;
        background-color: white;
        padding-left: 1ex;
}

div.course_contents{
	margin: 0px
}

div.realplayer{
	margin: 40px 0;
}

div.podcast{
	margin: 25px 5px;
	padding: 0;
}
