@charset "euc-jp";

/*
------------------------------------------------------------
   ごあいさつ
------------------------------------------------------------
*/
p.welcome_b{
	font-size: large;
	color: #666666;
	font-weight: bold;
	padding: 0;
	margin: 0;
}

div.welcome_box{
  position: relative;
}

div.welcome_img{
/*	text-align: center;*/
	position: relative;
	left: 180px;
	margin: 0;
	padding: 0;
}

div.welcome_name{
	position: relative;
	margin-top: -86px;
	padding-bottom: 25px;
	left: 300px;
}

div.welcome_contents{
	position: absolute;
	top: 360px;
	margin-bottom: 1000px;
}
