@charset "euc-jp";

/*
----------------------------------------------------
2010年度版デザインの英語版関連のもの
暫定的にここにおいておく
----------------------------------------------------
*/

/*
------------------------------------------------------------
   英語版Topページ関連
------------------------------------------------------------
*/
/* おしらせ */
#notice_en {
    margin: 15px 0 0 0;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #e7e7df;
    width: 500px;
}

#greeting_en{
        margin: 15px 0px 0px 10px;
        padding: 0;
	border-style: solid;
        border-width: 1px;
	border-color : #DDDDDD;
        float: left;
        width: 165px;
        overflow: hidden;
        /*height: 255px;*/
        font-size: 11px;
        font-height: 12px;
        zoom: 1;
}

