@charset "euc-jp";

/*
----------------------------------------------------
2010年度版デザインの英語版関連のもの
暫定的にここにおいておく
----------------------------------------------------
*/


/*
------------------------------------------------------------
   留学生の声
------------------------------------------------------------
*/
.student { 
        float: left;
        margin: 0px;
        background-color: white;
        padding-bottom: 20px;
        padding-left: 10px;
        margin-right: 20px;
        width: 710px;
        overflow: visible;
}

#student_ja {
        display: block;
        float: left;
        height: 430px;
        width: 730px;
        margin: -30px 20px 0px -15px;
        padding: 0px 0px 20px 0px;
        background: url("../images/ja/student/header.png");
        background-position: 0px 30px;
        background-repeat: no-repeat;
        overflow: hidden;
}

#student_en {
        display: block;
        float: left;
        height: 430px;
        width: 730px;
        margin: -30px 20px 0px -15px;
        padding: 0px 0px 20px 0px;
        background: url("../images/en/student/header.png");
        background-position: 0px 30px;
        background-repeat: no-repeat;
        overflow: hidden;
}

/* インタビュービデオの枠 */
#interview_video_frame{
        float: left;
        width: 317px;
        height: 379px;
        margin: 50px 0px 0px 18px;
        padding: 0px 0px 0px 0px;
        background-color: #4C3521;
}

/* セカンドページに移動し他のビデオを見るボタン */
#more_video_button{
        float: left;
        width: ;
        height: 379px;
        margin: 20px 0px 0px 0px;
        padding: 312px 0px 0px 38px;
        background: url("../images/common/student/arrow.png");
        background-repeat: no-repeat;
        background-position: 0px 327px;
}

/*
------------------------------------------------------------
   英語版Topページ関連
------------------------------------------------------------
*/
/* おしらせ */
#notice_en {
        float: left;
        border-style: solid;
        border-width: 3px;
        border-color: #e7e7df;
        margin: 15px 0px 0px 0px;
        width: 500px;
}

#greeting_en{
        float: left;
        width: 165px;
        overflow: hidden;
        /*height: 255px;*/
        margin: 15px 0px 0px 10px;
        padding: 0px 0px 0px 0px;
        border-style: solid;
        border-width: 1px;
	border-color : #DDDDDD;
        font-size: 11px;
        font-height: 12px;
        zoom: 1;
}

#interview_title{
        height: 100px;
        margin: 23px 0px 0px 5px;
        font-family: sans-serif;
        font-size: 20px;
        color: #E74AAE; /*  と思われるピンク色（要確認） */
}

#interview_title:first-letter{
        float: left;
        width: 40px;
        height: 30px;
        margin: -18px 5px 0px 0px;
        padding: 10px 0px 0px 0px;
        font-size: 40px;
        color: #FFFFFF;
        text-align: center;
        background-color: #E74AAE;
}

#interview_video{
        margin: -35px 0px 0px 8px;
}
