div#senyo {
    background-color: #55FF44;
    height: 1000px;
    width: 720px;
}
div#s1 {
    left: 205px;
    position: absolute;
    top: 864px;
    width: 351px;
}
div#s2 {
    left: 577px;
    position: absolute;
    top: 658px;
    width: 300px;
}
