p.title {
    top: 500px;
    left: 200px;
    position: absolute;
    background-color: #ffffff;
    font-size: 200%;
}
p#info {
    top: 200px;
    left: 495px;
    position: absolute;
    background-color: #ffffff;
}
p.lead {
    background-color: #FFFFFF;
    left: 7px;
    position: absolute;
    top: 287px;
}
div#senyo {
    background-color: #55FF44;
    height: 1200px;
    position: relative;
    top: 67px;
    width: 720px;
}
#senyo_k {
    position: absolute;
    top: -61px;
    width: 700px;
}
#senyo_p {
    left: 36px;
    position: absolute;
    top: 500px;
}
div#s1 {
    left: 24px;
    position: absolute;
    top: 701px;
    width: 351px;
}
div#s2 {
    left: 407px;
    position: absolute;
    top: 400px;
    width: 300px;
}
#int_senyo {
    left: 377px;
    position: absolute;
    top: 995px;
}
p.midasi {
    font-size: 200%;
    left: 45px;
    position: absolute;
    top: 422px;
}
