div#senyo {
    background-color: #55FF44;
    height: 1200px;
    position: relative;
    width: 720px;
}
#senyo_p {
    left: 36px;
    position: absolute;
    top: 500px;
}
div#s1 {
    left: 0px;
    position: absolute;
    top: 701px;
    width: 351px;
}
div#s2 {
    left: 414px;
    position: absolute;
    top: 400px;
    width: 300px;
}
#int_senyo {
    left: 377px;
    position: absolute;
    top: 988px;
}
p.midasi{
font-size: 200%;
}