div#senyo {
    top: 0px;
    left: 0px;
    background-color: #ffff33;
    position: relative;
    width: 1000px;
    height: 647px;
}
div#s1 {
    left: 0px;
    position: absolute;
    top: 203px;
    width: 354px;
}
div#s2 {
    left: 353px;
    position: absolute;
    top: 0px;
    width: 354px;
}
