p#lead
{
    text-align: center;
    font-size: 14.5px;
    color: dimgray;
}

ul#articles_title
{
    margin: 0px 10px 10px -25px;
    padding: 100px 0px 120px 30px;
    width: 960px;
    background-image: url("../../images/ja/topics4/background1.png");
    background-repeat: no-repeat;
    background-position: top left;
}

ul#articles_title li 
{
    height: 90px;
    width: 400px;
    float: left;
}

ul#articles_title li a
{
    width: 390px;
    height: 85px;
    padding-left: 30px;
    background-image: url("../../images/ja/topics4/check_off.png");
    background-repeat: no-repeat;
    background-position: 0px center;
}

ul#articles_title li a:hover
{
    background-image: url("../../images/ja/topics4/check.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #cc6699;
/*    border-bottom: solid 2px #cc6699;*/
}

ul#articles_title li a h2
{
    font-weight: bold;
}

ul#articles_title li a span
{
    text-decoration: none !important;
    color: #030303 !important;
}

ul#articles_title li a span.st_name
{
    font-size: 110%;
}

ul#articles_title li a span.st_belong:before
{
    content:" ¡ü ";
    color: gray;
}

ul#articles_title li a *
{
    vertical-align: text-bottom;
}

ul#articles_detail
{
    width: 941px;
    display: none;
    position: relative;
    top: -145px;
    padding: 100px 10px 10px 10px;
    margin-right: 30px;
    background-image: url("../../images/ja/topics4/background2.png");
    background-repeat: no-repeat;
    background-position: top left;
}

ul#articles_deatil:after
{
     content: "";
     display: block;
     clear: both; 
}

ul#articles_detail li h1
{
    color: #1e90ff;
    font-weight: lighter;
}

ul#articles_detail li h1:before
{
    content:"¡ü";   
}

ul#articles_detail li p
{
    width:250px;
    float: left;
    margin: 10px;
    padding: 10px;
}

ul#articles_detail li p.comment
{
    width: 280px;
    height: 186px;
    padding: 30px 25px 20px 20px;
    background-image: url(../../images/ja/topics4/hukidashi.png);
    background-repeat: no-repeat;
}

ul#articles_detail li img
{
    float: left;
    margin-left: -50px;
    max-width: 200px;
}