p#lead
{
    text-align: center;
    font-size: 14.5px;
    color: dimgray;
}

#articles_title
{
    width: 840px;
}

#articles_title li 
{
    height: 90px;
    width: 420px;
    float: left;
}

#articles_title li a
{
    width: 390px;
    height: 85px;
    padding-left: 30px;
    background-image: url("../../images/ja/topics4/check_off.png");
    background-repeat: no-repeat;
    background-position: 0px 20px;
}

#articles_title li a:hover
{
    background-image: url("../../images/ja/topics4/check.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #cc6699;
/*    border-bottom: solid 2px #cc6699;*/
}

#articles_title li a h2
{
    font-weight: bold;
}

#articles_title li a span
{
    text-decoration: none !important;
    color: #030303 !important;
}

#articles_title li a span.st_name
{
    font-size: 110%;
}

#articles_title li a span.st_belong:before
{
    content:"¡ü";
    color: gray;
}

#articles_title li a *
{
    vertical-align: text-bottom;
}