p#lead
{
    text-align: center;
    font-size: 14.5px;
    color: dimgray;
}

ul#articles_title
{
    margin: 0px 10px 20px 0px;
    padding: 90px 0px 0px 30px;
    width: 840px;
    background-image: url("../../images/ja/topics4/background1.png");
}

ul#articles_title li 
{
    height: 90px;
    width: 420px;
    float: left;
}

ul#articles_title li a
{
    width: 390px;
    height: 85px;
    padding-left: 30px;
    background-image: url("../../images/ja/topics4/check_off.png");
    background-repeat: no-repeat;
    background-position: 0px center;
}

ul#articles_title li a:hover
{
    background-image: url("../../images/ja/topics4/check.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #cc6699;
/*    border-bottom: solid 2px #cc6699;*/
}

ul#articles_title li a h2
{
    font-weight: bold;
}

ul#articles_title li a span
{
    text-decoration: none !important;
    color: #030303 !important;
}

ul#articles_title li a span.st_name
{
    font-size: 110%;
}

ul#articles_title li a span.st_belong:before
{
    content:" ¡ü ";
    color: gray;
}

ul#articles_title li a *
{
    vertical-align: text-bottom;
}

ul#articles_detail
{
    background-image: url("../../images/ja/topics4/background2.png");
}

ul#articles_detail li h1
{
    color: #1e90ff;
    font-weight: lighter;
}

ul#articles_detail li h1:before
{
    content:"¡ü";   
}