div#contents
{
    margin-right: 0;
    width: 895px !important;
}

div#tp_header
{
    width: 800px;
    margin: 50px auto 0 auto;
}

p#lead
{
    text-align: center;
    font-size: 14.5px;
    color: dimgray;
}

ul#articles_title
{
    margin: 0px 0px 10px -52px;
    padding: 110px 0px 110px 50px;
    width: 960px;
    background-image: url("../../images/ja/topics4/background1.png");
    background-repeat: no-repeat;
    background-position: top left;
}

ul#articles_title li 
{
    height: 90px;
    width: 430px;
    float: left;
}

ul#articles_title li a
{
    display: block;
    width: 390px;
    height: 85px;
    padding: 2px 20px 2px 30px;
    background-image: url("../../images/ja/topics4/check_off.png");
    background-repeat: no-repeat;
    background-position: 0px center;
}

ul#articles_title li a:hover
{
    background-image: url("../../images/ja/topics4/check.png");
    background-repeat: no-repeat;
    text-decoration: none;
    color: #cc6699;
/*    border-bottom: solid 2px #cc6699;*/
}

ul#articles_title li a img.face
{
    margin: 0 20px 0 0;
}

ul#articles_title li a h2
{
    font-weight: bold;
}

ul#articles_title li a span.tp_articles_title
{
    font-weight: bold;
    display: block;
    font-size: large;
    color: #cc6699;
    margin: 5px;
    clear: none;
}

ul#articles_title li a span.st_name, ul#articles_title li a span.st_belong
{
    text-decoration: none !important;
    color: #030303 !important;
}

ul#articles_title li a span.st_name
{
    font-size: 110%;
}

ul#articles_title li a span.st_belong:before
{
    content:" ¡ü ";
    color: gray;
}

ul#articles_title li a *
{
    vertical-align: text-bottom;
}

ul#articles_detail
{
    width: 941px;
    height: 747px;
    /*display: none;*/
    position: relative;
    top: -135px;
    left: -40px;
    padding: 25px 20px 20px 20px;
    background-image: url("../../images/ja/topics4/background2.png");
    background-repeat: no-repeat;

}

ul#articles_detail li:after
{
     content: "";
     display: block;
     clear: both; 
}

ul#articles_detail li
{
    display: none;
    background-color: #F9F9FF;
    position: relative;
    top: 110px;
    left: 30px;
    width: 800px;
    padding: 20px;
}

ul#articles_detail li#detail1
{
    display: inherit;
}

ul#articles_detail li h1
{
    color: #1e90ff;
    font-weight: lighter;
    margin: 10px;
}

ul#articles_detail li h1:before
{
    content:"¡ü ";   
}

ul#articles_detail li p.abst
{
    width: 285px;
    height: 386px;
    float: right;
    padding: 60px 115px 25px 40px;
    margin: 10px;
    background-image: url(../../images/ja/topics4/paper.png);
    background-repeat: no-repeat;
}

ul#articles_detail li p.comment_l
{
    color: white;
    width: 283px;
    height: 154px;
    margin: 0px 0px 0px 0px;
    padding: 46px 16px 18px 29px;
    background-image: url(../../images/ja/topics4/l_hukidashi.png);
    background-repeat: no-repeat;
    clear: left;
    float: left;
}

ul#articles_detail li p.comment_s
{
    color: white;
    width: 180px;
    height: 98px;
    margin: 0px 0px 0px 50px;
    padding: 30px 13px 12px 18px;
    background-image: url(../../images/ja/topics4/hukidashi.png);
    background-repeat: no-repeat;
    clear: left;
    float: left;
}

ul#articles_detail li div.tp_video
{
    display: block;
    clear: left;
    float: left;
    margin-left: 20px;
}

ul#articles_detail li img.person
{
    clear: left;
    float: right;
    margin: -50px 0px 0px 100px;
    display: block;
}

p.tp_resources
{
    text-align: right;
    clear: left;
    color: #CC6699;
    font-size: larger;
    max-width: 40%;
}

#hr_marker
{
    visibility: hidden;
    position: relative;
    top: -145px;
}