div#tp_default
{
    background-image: url("../../images/ja/topics5/kokoro_bg");
    background-repeat: no-repeat;
}

#articles_title
{
    width: 340px;
    margin: 10px 10px 20px 20px;
    padding: 0;
}

#articles_title li
{
    height: 80px;
}

#articles_title li a
{
    width: 100%;
    height: 70px;
}

#articles_title li a:hover
{
    text-decoration: none;
    color: #020202;
}

#articles_detail
{
    background-image: url("../../images/ja/topics3/background2.png");
}