div#tp_default
{
    background-image: url("../../images/ja/topics6/back");
    background-repeat: repeat;
    height: 1200px;
}

#articles_title
{
    width: 340px;
    margin: 10px 10px 20px 20px;
}

#articles_title li
{
    height: auto;
}

#articles_title li a
{
    width: 100%;
    height: 70px;
}

#articles_title li a:hover
{
    text-decoration: none;
    color: #020202;
}

#articles_detail
{
    background-image: url("../../images/ja/topics3/background2.png");
}

#intro_message
{    
    text-align: center;
    padding-top: 60px;
}

#articles_intro
{
    padding: 25px 0px 30px 25px;
    height: 520px;
    background-size: cover;
    margin: 15px 0px 0px 0px;
    opacity: 0.9;
}

.art_title
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 45px;
    margin: 0px -5px;
}

#package2
{
    top: 0px;
}

#articles_intro li h2:before {
    display: none;
}

h2 {
    color: #FFFFFF;
    margin: 0px;
}

.art_title h2 {
    color: rgb(153, 204, 204);
    margin: 5px -2px;
}

a.tp_link {
    background-image : url("../../images/ja/topics6/window.png");
    right : 130px;
    width : 440px;
    height : 270px;
    margin: 210px -10px 0px 0px;
}

#contents {
    font-family: "ＭＳ 明朝",sans-serif;
}

p.lead {
    line-height: 20px;
}

.bg_off {
}

.bg_on {
}