ul
{
    list-style-type: none;
}

#topics_top_title
{
    width: 100%;
    font-height: 24px;
}

#articles_titles
{
    width: 300px;
    float: left;
    border-style: dotted;
    border-width: 1px;
    border-color: orange;
}

#articles_titles li a
{
    display: block;
    width: 100%;
}

#articles_title li a h1 /* コース名 */
{

}

#articles_title li a span /* 教員名 */
{
    clear: left;
    float: right;
}

#articles_title li a h3 /* キャッチコピー */
{

}

#article_intro{
    width: 400px;
    height: 250px;
}

#intro1,#intro2,#intro3,#intro4,#intro5,#intro6
{
    display: none;
}