#contents
{
    width: 875px !important ;
    margin-left: 30px;
    font-family: "ＭＳ ゴシック",sans-serif; 
    font-weight: 400;
    color: #020202;
    font-size: inherit;
    min-height: 740px;
    padding-bottom: 60px;
    background-image: url("../../images/ja/topics3/asobi_Background1.jpg");
    background-repeat: no-repeat;
    background-position: -20px 223px;
}

h2
{
    color: #cc6699;
}

img#tp_door
{
    position: absolute;
    right: 20px;
    top: 5px;
    z-index: 2;
}

img#tp_Kanban
{
    position: relative;
    left: -30px;
    top: -32px;
}

ul
{
    list-style-type: none;
}

#topics_top_title
{
    width: 100%;
    font-height: 24px;
}


#articles_title
{
    width: 330px;
    float: left;
    margin: 10px;
    padding: 0;
}

#articles_title li
{
    height: 70px;
}

#articles_title li img
{
    float: left;
    clear: left;
    width: 70px;
    height: 70px;
}

#articles_title li a
{
    display: block;
    width: 100%;
    height: 100%;
    padding: 1ex;
}

#articles_title li a:hover
{
    text-decoration: none;
    color: inherit;
}

#articles_title li a h2 /* コース名 */
{
    clear: right;
    font-weight: 300;
}

#articles_title li a span /* 教員名 */
{
    clear: left;
}

#articles_intro{
    float: left;
    width: 340px;
    height: 250px;
    padding: 0;
    margin: 10px;
    margin-bottom: 168px;
}

#intro1,#intro2,#intro3,#intro4,#intro5,#intro6
{
    display: none;
}

#tp_title1,#tp_title2,#tp_title3,#tp_title4,#tp_title5
{
    color: #99CCCC;
    display: none;
}

#articles_intro li h2 /* キャッチコピー */
{
    font-weight: 500;
}

#articles_intro li h2:before
{
    content:"● ";
    color: ee88bb;
}

#articles_intro li hr
{
    height: 4px;
    background-color: #cc6699;
    border: none;
    color: #cc6699;
}

div.tp_LInk
{
    color: white;
    clear: both;
    float: right;
    text-align: center;
    position: relative;
    width: 166px;
    height: 168px;
}

div.tp_LInk p
{
    position: absolute;
    top: 57px;
    text-align: center;
    left: 0px;
    height: 0;
    overflow: visible;
    width: 100%;
    z-index: 1;
    font-size: larger;
}

a.tp_link:hover
{
    text-decoration: none;
}

div.tp_LInk img 
{
    width: 100%;
    height: 100%;
    z-index: 0;
}

a.tp_link img
{
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}

a.tp_link img:hover
{
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}


#articles_detail
{
    clear: both;
    width: 720px;
}

#detail1,#detail2,#detail3,#detail4,#detail5,#detail6
{
    display: none;
}

hr
{
    clear: both;
}

img#tp3bg_under
{
    position: absolute;
    bottom: 0;
}