#contents
{
    width: 875px !important ;
    margin-left: 30px;
    font-family: "ＭＳ ゴシック",sans-serif; 
    font-weight: 500;
    font-color: #020202;
    font-size: inherit;
}

h2
{
    color: #cc6699;
}

ul
{
    list-style-type: none;
}

#topics_top_title
{
    width: 100%;
    font-height: 24px;
}

#articles_title
{
    width: 330px;
    float: left;
    margin: 10px;
    padding: 0;
}

#articles_titles li a
{
    display: block;
    width: 100%;
    border-style: dotted;
    border-width: 1px;
    padding: 1ex;
}

#articles_title li a h2 /* コース名 */
{
    clear: right;
    font-weight: 100;
}

#articles_title li a span /* 教員名 */
{
    clear: left;
}

#articles_intro{
    float: left;
    width: 480px;
    height: 250px;
    padding: 0;
    margin: 10px;
    margin-bottom: 3em;
}

#intro1,#intro2,#intro3,#intro4,#intro5,#intro6
{
    display: none;
}

#articles_intro li a h2 /* キャッチコピー */
{
    font-weight: 300;
}

#articles_intro li a h2:before
{
    content:"●"
    color: ee88bb;
}

#articles_intro li hr
{
    height: 4px;
    background-color: #cc6699;
    border: none;
    color: #cc6699;
}

div.info
{
    padding: 1em:
    bockground-color: gainsboro;
    clear: both;
    border-style: dotted:
    border-width: 1px;
    float: right;
    text-align: right;
    position: relative;
    width: 200px;
}

div.info p
{
    position: absolute;
    top: 0;
    right: 75px;
}

img.cut
{
    width: 70px;
    height: 70px;
}

#articles_detail
{
    clear: both;
}

#detail1,#detail2,#detail3,#detail4,#detail5,#detail6
{
    display: none;
}

hr
{
    clear: both;
}